.related-artists-div {
  width: 400px;

  border: 1px solid black;
  border-radius: 5px;
}

.related-artists-div > h1 {
  margin-top: 10px;

  font-size: 20px;
  text-align: center;
}

.related-artists-div > ul {
  margin-bottom: 5px;
}

.related-artists-item-div {
  margin: 10px;

  display: flex;
  align-items: center;
}

.related-artists-item-div:hover {
  background-color: rgb(199, 199, 199); 
}

.related-artist-thumbnail {
  width: 50px;
  height: 50px;
}

.related-artist-name {
  padding-left: 5px;
  margin: 1px;
}
