html {
  background-color: #1E293B;
  font-family: "Helvetica","Arial",sans-serif;
}

a.button {
  background:black;
  display: block;
  padding:10px;
  color:white;
  margin-bottom: 10px;
}

.about {
  min-width:500px;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

.arrow {
  position: absolute;
  width:20px;
  height:20px;
  display: block;
  background:white;
  transform: translateY(-50%) rotate(45deg);
}

.charts {
  display: flex;
  justify-content: space-around;
}

.charts.hidden {
  visibility: hidden;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding:20px;
  top:-20px;
  border-radius:2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

.dropdown a {
    text-decoration: none;
    color: #ffc600;
  }

.dropdownBackground {
  width:100px;
  height:100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition:all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity:0;
}

.dropdownBackground.open {
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.instructions {
  min-width:300px;
}

.instructions li {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

nav {
  position: relative;
}

.nav-list > li > a {
  color: yellow;
  text-decoration: none;
  font-size: 20px;
  background: rgba(0,0,0,0.2);
  padding:10px 20px;
  display: inline-block;
  margin:20px;
  border-radius:5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list > li {
    position: relative;
    display:flex;
    justify-content: center;
  }

.personal-link-item {
  font-weight: bold;
  color: #ff6b5b;
}

.prompt {
  font-weight: lighter;
  font-style: italic;
  color: white;
}

.related-artists-chart {
  width: 250px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.related-artists-chart > div {
  padding: 10px;

  display: flex;
  align-items: center;
}

.related-artist-names {
  padding-left: 10px;
}

.related-artist-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50px;

  transition: 1s;

  cursor: pointer;
}

/*spinning animation found at http://jsfiddle.net/gionaf/Ugc5g/*/
.related-artist-thumbnail:hover {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.search-bar {
  height: 25px;
  width: 200px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  margin-top: 10px;
  background-color: #757575;
}


.site-title {
  font-size: 25px;
  color: #00E364;
  transition: 1s;
}

.site-title:hover {
  color: white;
}

.suggestions {
  border: 1px solid red;

  width: 220px;
}

.suggestions-item {
  margin: 5px;

  color: #00E364;
}

.suggestions-item-name {
  cursor: pointer;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}


.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome.hidden {
  visibility: hidden;
}
