html {
  background-color: #1E293B;
  font-family: Futura,"Helvetica","Arial",sans-serif;
}

.charts {
  display: flex;
  justify-content: space-around;
}

.charts.hidden {
  visibility: hidden;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.personal-link-item {
  font-weight: bold;
  color: #ff6b5b;
}

.prompt {
  font-weight: lighter;
  font-style: italic;
  color: white;
}

.related-artists-chart {
  width: 250px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.related-artists-chart > div {
  padding: 10px;

  display: flex;
  align-items: center;
}

.related-artist-names {
  padding-left: 10px;
}

/*spinning animation found at http://jsfiddle.net/gionaf/Ugc5g/*/
.related-artist-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50px;

  transition: 1s;

  cursor: pointer;
}

.related-artist-thumbnail:hover {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.search-bar {
  height: 25px;
  width: 200px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  margin: 10px;
  background-color: #757575;
}

.site-title {
  font-size: 25px;
  color: #00E364;
  transition: 1s;
}

.site-title:hover {
  color: white;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome.hidden {
  visibility: hidden;
}
