h1 {
  font-weight: lighter;
  font-family: "Helvetica","Arial",sans-serif;
  color: white;
}

.graph-div {
  width: calc(100% - 330px);
  height: calc(100% - 30px);

  position: absolute;
  right: 0;
  border: 15px solid gray;

  background: #eca7c0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 75px;
  width: 75px;
}

.menu-div {
  width: 300px;
  height: 100%;

  position: absolute;
  left: 0;

  background: #303438;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-list > li {
  margin: 10px;

  font-size: 12px;
  color: #303438;
}

.related-artists-index {
  list-style-type: none;

  width: 100%;
  position: relative;
  overflow-x: scroll;
}

.related-artists-item {
  width: 250px;
  height: 40px;
  margin-left: 10px;
  border-top: 1px dotted #fff;


  display: flex;
  align-items: center;
}

.related-artist-name {
  margin-left: 5px;

  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.related-artist-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

/*spinning animation found at http://jsfiddle.net/gionaf/Ugc5g/*/
.related-artist-thumbnail:hover {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.search-modal {
  border: 1px solid red;
  border-radius: 5px;

  width: 500px;
  height: 300px;

  color: white;
/*
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);*/
}
